$fontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
/* #6274ce */
$inactiveColor: #cecece;
$inactiveLightColor: #eaeaea;
$activeColor: #1982fb;
$baseColor: #0469dd;
$disabledColor: #e8e8e8;
$selectedColor: #0270a3;
$defaultColor: #000;
$activeSecondaryColor: #5264ae;
$baseSecondaryColor: #3d378c;
$selectedSecondaryColor: #3a6063;
$defaultSecondaryColor: #fff;
$activeTertearyColor: #626262;
$baseTertearyColor: #4d474c;
$selectedTertearyColor: #3a5053;
$defaultTertearyColor: #fff;
$focusColor: adjust-color($activeColor, $saturation: 10, $lightness: 40);
$outerGap: 20px;
$innerGap: 10px;

$errorColor: #cf0a0a;
$successColor: #0aaf0a;

$lightCard: 7px 7px 35px -5px rgba(0, 0, 0, 0.45);
$basicCard: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$basicCardHover: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
$basicCardTransition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

$basicInputHeight: 58px;
$basicLineHeight: 28px;
$basicFontSize: 14px;
$titleFontSize: 22px;
$subtitleFontSize: 18px;
$legendFontSize: 10px;

@mixin card($shadowDrop: $basicCardHover) {
  box-shadow: $shadowDrop;
}

@mixin flyout($shadowDrop: $basicCardHover, $zIndex: 1) {
  @include card($shadowDrop);
  position: absolute;
  z-index: $zIndex;
}

@mixin flyoutHoverTransition($shadowDrop: $basicCard, $shadowDropOver: $basicCardHover) {
  @include flyout($shadowDrop);
  transition: $basicCardTransition;

  &:hover {
    box-shadow: $shadowDropOver;
  }
}

@mixin hidePlaceholder {
  &::-webkit-input-placeholder {
    opacity: 0;
  } /* Chrome <=56, Safari < 10 */
  &:-moz-placeholder {
    opacity: 0;
  } /* FF 4-18 */
  &::-moz-placeholder {
    opacity: 0;
  } /* FF 19-50 */
  &:-ms-input-placeholder {
    opacity: 0;
  } /* IE 10+ */
  &::placeholder {
    opacity: 0;
  } /* Modern Browsers */
}

@mixin showPlaceholder($opacity: 0.7) {
  &::-webkit-input-placeholder {
    opacity: $opacity;
  } /* Chrome <=56, Safari < 10 */
  &:-moz-placeholder {
    opacity: $opacity;
  } /* FF 4-18 */
  &::-moz-placeholder {
    opacity: $opacity;
  } /* FF 19-50 */
  &:-ms-input-placeholder {
    opacity: $opacity;
  } /* IE 10+ */
  &::placeholder {
    opacity: $opacity;
  } /* Modern Browsers */
}

@mixin focus($color: $focusColor) {
  transition: box-shadow 0.5s ease-out;

  &:focus {
    box-shadow: 0 0 0 0.25rem $color;
  }
}

@mixin input($height: $basicInputHeight, $lineHeight: $basicLineHeight) {
  box-sizing: border-box;
  height: $height;
  line-height: $lineHeight;
  font-size: $basicFontSize;
  outline: none;
}

@mixin text {
  border-style: groove;
}

@mixin triangleCorner($bgcolor, $size) {
  background-color: $bgcolor;
  clip-path: polygon(0% 50%, 50% 0%, 50% 50%);
  position: absolute;
  width: calc(#{$size} * 2);
  height: calc(#{$size} * 2);
  bottom: calc(#{$size} * -1);
  right: calc(#{$size} * -1);
  content: "";
}

@mixin avatar($size: 60px) {
  .clip-circle {
    clip-path: circle($size at center);
    /* OLD VALUE example: circle(245px, 140px, 50px); */
    /* Yep, even the new clip-path has deprecated stuff. */
  }
}

@mixin grid($columns: 2fr 1fr 1fr, $rows: 1fr 1fr 1fr 1fr) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
}

@mixin placeInGrid($x1: 1, $x2: 2, $y1: 1, $y2: 2) {
  grid-column: #{$x1}/#{$x2};
  grid-row: #{$x1}/#{$x2};
}

@mixin createAnimationRadar($name: ripple, $maxSize: 100) {
  position: relative;
  overflow: hidden;
  border: 0;
  background-color: transparent;

  &:before {
    background-color: $baseSecondaryColor;
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -50px;
    bottom: -50px;
    left: -50px;
    right: -50px;
    background: $activeSecondaryColor;
    opacity: 0;
    border-radius: 100%;
    transform-origin: 50% 50%;
    transform: scale(0);
  }

  @keyframes #{$name} {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    20% {
      transform: scale(0.2);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }

  &:focus:not(:active)::after {
    animation: $name 1s ease-out;
  }
}

@mixin header($height: 58px) {
  height: $height;
  line-height: $height;
  text-transform: capitalize;
  color: $defaultSecondaryColor;
  background-color: $activeSecondaryColor;
  padding: 0 $innerGap;
}
