$activeColor: #2d5dae;
$defaultColor: #000;
$focusColor: adjust-color($activeColor, $saturation: 10, $lightness: 40);

.toggleButton {
  box-sizing: border-box;
  display: flex;

  & > span {
    display: flex;
    align-items: center;
    margin-right: 5px;
    cursor: default;
  }

  button[role="switch"] {
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    color: $defaultColor;
    background-color: transparent;
    border: 2px solid $activeColor;
    border-radius: 0.3rem;
    padding: 5px 3px;
    cursor: pointer;
    outline: none;

    &:focus {
      box-shadow: 0 0 0 0.25rem $focusColor;
    }

    span {
      border-radius: 0.3rem;
      padding: 3px;
    }
  }
  button[role="switch"][aria-checked="true"] span:first-child,
  button[role="switch"][aria-checked="false"] span:last-child {
    background: $activeColor;
    color: #fff;
  }
}
